@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-Medium.ttf');
  }
body {
    font-family: myFirstFont;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: black; */
    background-color: #fff;
    border-bottom: 2px solid #00D68F;
    /* border-color: #dee2e6 #dee2e6 #fff; */
    border-color: transparent;

}
#comment-part {
    display: none;
}
.nav-tabs .nav-link:hover {
    border-color: white;
}
.nav-link.active {
    border-bottom: 2px solid #00D68F !important;
    color: #00D68F !important;
}
.nav-tabs {
    border-bottom: 1px solid #2CE59B;
    padding-left: 60px;
}
.nav-item {
    margin-right: 20px;
}
.nav-link {
    padding: 15px;
}
.card {
    /* filter: drop-shadow(0px 4px 24px rgba(130, 130, 130, 0.16)); */
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.brand-item {
    margin: 40px;
}
.brands {
    background-color: #F5F5F7;
    height: 216px;
    padding-top: 48px;
}
.font-weight-bold {
    font-weight: 500 !important;
    font-size: 20px;
}
.social-icons {
    margin-right: 25px;
}

@media (min-width: 361px) and (max-width: 767px) {
.navbar {
    padding-left: 20px !important;
}
.nav-form {
    margin-left: 0 !important;
}
.nav-iconss {
    margin: 0 auto !important;
}
.cards-container {
    padding: 25px !important;
}
.col-md-3 {
    margin-bottom: 70px;
}
.banners-inner {
    padding: 25px !important;
}
.cards-container2 {
    padding: 25px !important;
}
.nav-tabs {
    display: none;
}
.nav-inp {
    width: 250px !important;
}
.second-part {
    display: none;
}
.terms {
    margin-left: 0 !important;
    width: auto !important;
}
.submit-btn {
    width: 100px;
}
.first-part {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.fullname-inp {
    width: 303px !important;
}
.whole-input {
    width: 303px !important;
    margin: 0 auto !important; 
    text-align: start;
}
.fullname-label {
    width: 86px;
}
.email-label {
    width:50px;
}
.number-label {
    width: 100px;
}
.password-t-label {
    width: 92px;
}
.submit-btn {
    width: 303px !important;
}
label {
    margin-right: 0 !important;
}
.social {
    width: 50%;
}
.social-span {
    font-size: 12px;
}
.soc-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.first-list-part {
    padding-left: 0 !important;
    display: none;
}
.mehsul-tapildi {
    width: 18rem;
    margin: 0 auto;
    padding: 0 !important;
}
#accordion {
    width: 100% !important;
}
.list-row {
    padding: 0 !important;
    padding-top: 42px !important;
}
.card {
    margin: 0 auto;
}
.list-path {
    display: none !important;
}
.web-drop {
    display: none;
}
.mobile-tabs {
    display: flex !important;
}
.inner-payment {
    display: block !important;
}
.message-payment {
    width: 279px !important;
}
.payment-card {
    width: auto !important;
}

}
@media (max-width: 360px) {
    .navbar {
        padding-left: 20px !important;
    }
    .nav-form {
        margin-left: 0 !important;
    }
    .nav-iconss {
        margin: 0 auto !important;
    }
    .cards-container {
        padding: 25px !important;
    }
    .col-md-3 {
        margin-bottom: 70px;
    }
    .banners-inner {
        padding: 25px !important;
    }
    .cards-container2 {
        padding: 25px !important;
    }
    .nav-tabs {
        display: none;
    }
    .nav-inp {
        width: 250px !important;
    }
    .second-part {
    display: none;
    }
    .terms {
        margin-left: 0 !important;
        width: auto !important;
    }
    .submit-btn {
        width: 100px;
    }
    .first-part {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fullname-inp {
        width: 303px !important;
    }
    .whole-input {
        width: 303px !important;
        margin: 0 auto !important;
        text-align: start; 
    }
    .fullname-label {
        width: 86px;
    }
    .email-label {
        width:50px;
    }
    .number-label {
        width: 100px;
    }
    .password-t-label {
        width: 92px;
    }
    .submit-btn {
        width: 303px !important;
    }
    label {
        margin-right: 0 !important;
    }
    .social {
        width: 50%;
    }
    .social-span {
        font-size: 12px;
    }
    .soc-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .first-list-part {
        padding-left: 0 !important;
        display: none;
    }
    .mehsul-tapildi {
        width: 18rem;
        margin: 0 auto;
        padding: 0 !important;
    }
    #accordion {
        width: 100% !important;
    }
    .list-row {
        padding: 0 !important;
        padding-top: 42px !important;
    }
    .card {
        margin: 0 auto;
    }
    .list-path {
        display: none !important;
    }
    .web-drop {
        display: none;
    }
    .mobile-tabs {
        display: flex !important;
    }
    .inner-payment {
        display: block !important;
    }
    .message-payment {
        width: 279px !important;
    }
    .payment-card {
        width: auto !important;
    }

}
@media (min-width: 768px) and (max-width: 841px) {
    .navbar {
        padding-left: 20px !important;
    }
    .nav-form {
        margin-left: 0 !important;
    }
    .nav-iconss {
        margin: 0 auto !important;
    }
    .cards-container {
        padding: 25px !important;
    }
    .col-md-3 {
        margin-bottom: 70px;
    }
    .banners-inner {
        padding: 25px !important;
    }
    .cards-container2 {
        padding: 25px !important;
    }
    .nav-tabs {
        display: none;
    }
    .nav-inp {
        width: 250px !important;
    }
    .second-part {
    display: none;
    }
    .terms {
        margin-left: 0 !important;
        width: auto !important;
    }
    .submit-btn {
        width: 100px;
    }
    .first-part {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fullname-inp {
        width: 303px !important;
    }
    .whole-input {
        width: 303px !important;
        margin: 0 auto !important; 
        text-align: start;
    }
    .fullname-label {
        width: 86px;
    }
    .email-label {
        width:50px;
    }
    .number-label {
        width: 100px;
    }
    .password-t-label {
        width: 92px;
    }
    .submit-btn {
        width: 303px !important;
    }
    label {
        margin-right: 0 !important;
    }
    .social {
        width: 50%;
    }
    .social-span {
        font-size: 12px;
    }
    .soc-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .first-list-part {
        padding-left: 0 !important;
        display: none;
    }
    .mehsul-tapildi {
        width: 18rem;
        margin: 0 auto;
        padding: 0 !important;
    }
    #accordion {
        width: 100% !important;
    }
    .list-row {
        padding: 0 !important;
        padding-top: 42px !important;
    }
    .card {
        margin: 0 auto;
    }
    .list-path {
        display: none !important;
    }
    .web-drop {
        display: none;
    }
    .mobile-tabs {
        display: flex !important;
    }
    .inner-payment {
        display: block !important;
    }
    .message-payment {
        width: 279px !important;
    }
    .payment-card {
        width: auto !important;
    }

}
